@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  background-color: hsl(27, 66%, 92%);
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}

 .attribution {
   font-size: 11px;
   text-align: center;
 }

 .attribution a {
   color: hsl(228, 45%, 44%);
 }

 .color{
background-color: hsl(25, 47%, 15%);
background-color: hsl(28, 10%, 53%);
background-color: hsl(33, 100%, 98%);
 }

